<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--以前:拼字符串innerHTML-->
<!--vue-for一个指令解决循环问题更高效会复用原有的结构-->
<!--要循环谁就在谁的身上增加v-for属性-->
<!--默认是value of 数组/(value,index) in 数组 -->
<div id="app">
    <ul>
        <li v-for="(fruit,index) in fruits">
            {{index+1}}{{fruit.name}}
            <ul>
                <li v-for="(color,childIndex) in fruit.color">
                    {{index+1}}.{{childIndex+1}}{{color}}
                </li>
            </ul>
        </li>
    </ul>
    <div v-for="c in 'aaa'">
        {{c}}
    </div>
    <div v-for="c in 30">
        {{c}}
    </div>
    <div v-for="(value,key,index) in obj">
        {{key}}:{{value}}:{{index}}
    </div>
</div>
<script src="./node_modules/vue/dist/vue.js"></script>
<script>
let vm=new Vue({
    el:"#app",
    data:{
        obj:{name:"zfpx",age:9,address:'xxx'},
        fruits:[{name:"香蕉",color:['green','yellow']},
                {name:"苹果",color:['red','green','yellow']},
                {name:"西瓜",color:['pink','yellow']}]
    }
});
</script>
</body>
</html>