<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
    <!--如果是复选框 只有一个复选框的时候，会把这个值转化成布尔类型如果为true表示选中，反之不是选中-->
    <!--如果复选框有多个就要使用value属性-->
    <input type="radio" v-model="gender" value="男">男
    <input type="radio" v-model="gender" value="女">女<br>
    {{gender}}
</div>
<script src="node_modules/vue/dist/vue.js"></script>
<script>
let vm=new Vue({//根实例
    el:'#app',
    data:{//都是数据
        gender:'男'
    }
});
</script>
</body>
</html>